/* Main Styling */
body {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  width: 100vw;
  min-height: 90vh;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;

  width: 100%;
  height: 50px;

  background-color: white;
  color: #0a161f;

  box-shadow: 0px 5px 20px hsla(0, 0%, 0%, 0.08);
}

header h1 {
  margin: 0;
  padding-left: 4rem;

  cursor: pointer;
  font-family: "Roboto Mono", monospace;
}

.scrolled {
  background-color: hsl(206, 51%, 8%);
  color: #f8f8f8;
  transition: all 1s ease-in-out;
}

/* Navbar Styling */

.side-nav {
  display: flex;
  flex-direction: column;

  position: absolute;

  width: 250px;
  height: 100vh;
  left: -100%;

  top: 50px;

  background-color: #0a161f;

  transition: left 0.6s ease-in-out;
}

.active {
  left: 0;
}

.side-nav ul {
  list-style: none;
  text-align: center;
}

.side-nav li {
  padding: 2rem 0;
}

.side-nav a {
  text-decoration: none;
  color: #f8f8f8;

  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;

  transition: all 0.2s ease-in-out;
}

.side-nav a:hover {
  color: hsl(353, 74%, 56%);
}

/* About Section */

.about-container {
  background-color: #e23e50;
  height: 100vh;
  padding: 2rem 4rem;
}

.about-container h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  line-height: 100%;
}

hr {
  width: 30%;
  color: #0a161f;
}

/* Footer styling */

.footer {
  display: flex;
  justify-content: space-between;
  /* padding: 0rem 2rem; */
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #0a161f;
  color: #f8f8f8;
}

.footer h2 {
  padding-left: 4rem;
}

.footer p {
  padding-right: 4rem;
}

.footer ul {
  display: flex;
  list-style-type: none;
}

.footer ul li {
  padding: 0rem 1rem;
}

/* Homepage styling */

.banner {
  height: 94vh;
  overflow: hidden;
  margin-bottom: 4rem;
}

#banner-image {
  display: block;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 0 4rem;
}

/* Card Styling */

.card {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.card-inverted {
  flex-direction: row-reverse;
  text-align: right;
}

.card-inverted .text-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text-card {
  width: 60%;
  font-family: "Inter", sans-serif;
  /* padding-right: 2rem; */
}

.text-card div {
  max-width: 300px;
  width: 50%;

  text-align: center;
  padding: 1rem 4rem;

  background-color: #25d9da;
  color: #f8f8f8;

  box-shadow: 0px 0px 30px 5px rgba(17, 11, 11, 0.05);
}

.text-card h2 {
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 2px 2px hsl(353, 74%, 56%);
}

.text-card p {
  font-size: 1.4rem;
  font-weight: medium;

  margin-top: 3rem;
}

.image-card {
  max-width: 40%;
  height: 500px;

  /* margin: 0 auto; */

  box-shadow: 0px 0px 30px 5px rgba(17, 11, 11, 0.05);
  filter: drop-shadow(-5px 0px 0px hsl(180, 71%, 50%))
    drop-shadow(-8px 0px 0px hsl(353, 74%, 56%));
}
